body {
    font-family: 'Lato', sans-serif;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 50px;

}

p {
    font-size: 20px;
    color: rgb(75, 73, 73);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h4 {
    font-size: 45px;
}

h6 {
    font-size: 20px;
    color: orange;
}

.color {
    color: orange;
}

.link-button {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 40px;
}

.half-width img {
    width: 75%;
    padding-right: 5%;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

#left-red {
    border-left: 7px solid red;
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 5px 5px 5px 5px darkgrey;
    margin-left: 50px;

}

#left-blue {
    border-left: 7px solid blue;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 5px 5px 5px 5px darkgrey;
}